{% extends "home.html" %}

{% block title %}
About the Developer
{% endblock %}

{% block head %}
  {{super()}}
  <style>
    body {
      padding-top: 54px;
    }
     a:link {color: black;}
     a:visited {color: black;}
     a:hover {color: red;}
     a:active {color: black;}
    .mt-6{
      display: inline-block;
      padding-right: 30px;
    }
    #first-para {
      padding-top: 15px;
    }
  </style>
{% endblock %}

{% block page_content %}
<div class="container">
   <h1 class="mt-5"><i class="fa fa-users" aria-hidden="true"></i> Mike Caffrey </h1>

  <p id="first-para"> I am a hardworking senior majoring in Management Information Systems with a concentration in Marketing at the University of Delaware.
  I plan to pursue a career in Software Sales after graduation.
  The best way to contact me is by email, which is, mcaffrey@udel.edu.</p>

  <h3 id="link-header"> My Links: </h3>

  <div class="col col-lg-3">

  <h3 class="mt-6"><a href="https://www.linkedin.com/in/michael-caffrey-87622aaa/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></h3>
</div>
</div>

{% endblock %}
